# Terraform directories
**/.terraform/*
.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (optional)
# Uncomment if you don't want to track provider versions
# .terraform.lock.hcl

# CLI config files
.terraformrc
terraform.rc

#TF Lock files
*.terraform.lock.hcl
*.terraform.lock.hcl.*
*/*.terraform.lock.hcl
